<div class="container">
  <%= simple_form_for UserTask.new do |f| %>
    <label for "query_user_name"></label>
    <%= f.association :user, collection: User.all, label_method: :name, value_method: :id,
      prompt: "Select User" %>

    <div class="row">  
      <div class="col-md-4 offset-md-4"></div>   
        <%= f.button :submit, "Assign User", class: "btn-primary" %>
      </div> 
    </div>
  </div>
<% end %>

<%= link_to 'Back', tasks_path, class: "btn btn-secondary" %>
